#l-box-shadow {
  box-shadow: 5px 5px 0px #CBB569;
}
.infos {
  h1 {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-bottom: 5px;
    }
  h3 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 10px;
}

  p {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 4px;
}

}
