#l-box-shadow {
  box-shadow: 5px 5px 0px #CBB569;
}

.astro-info {
  h1 {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-bottom: 5px;
    }
  h4 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 10px;
}

  p {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 4px;
}

}
.reviews.quote {
  font-size: 2px;
}

.box-rating {
  width: 300px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  color: #294045;
  font-family: $headers-font;
  margin: 15px;

}

.pink-line {
    border-bottom: 1px solid #B88778;
    opacity: 0.5;
  }


.astro-exp {
  color: #294045;
  p {
  font-family: 'Roboto Mono', monospace;

  }
}

.flatpickr-calendar {
  // justify-content: center;
  margin: 0 auto;
}

.reviews {
  color: #294045;
}



.booking_time {
  width: 307.88px;
}

.time-label {
  color: #294045;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10px;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 5px;
}

#new_booking {
  margin: 0 auto;
   .search {
    text-align: center;
   }
}

.btn-book {
  width: 307.88px;
}
