// .card-product {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

.astrologist-card {
  border: 1px solid #CBB569;
  width: 300px;
  box-shadow: 5px 5px 0px #CBB569;
  margin-right: 20px;

  .card-top {
    color: #CBB569;
    font-family: $headers-font;
    font-size: 16px;
    border-bottom: 1px solid #CBB569;
    text-align: left;
    height: 350px;
    background-size: cover;
    background-position: center;
  }

  .name-card {
    padding-top: 250px;
    padding-left: 20px;
  }

  h1 {
    font-size: 32px;
    padding-top: 0;
    margin-bottom: 0;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

h2 {
  text-decoration: none;
}


