#l-box-shadow {
  box-shadow: 5px 5px 0px #CBB569;
}

.astro-info {
  h1 {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-bottom: 5px;
    }
  h4 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 10px;
}

  p {
  font-family: 'Roboto Mono', monospace;
  color: #294045;
  padding-top: 4px;
}

  li.list-group-item {
    margin-right: 5px;
    background: #e4dfcf;
    border: none;
    font-size: 14px;
    color: #927f42;
    padding: 4px 8px;
}

}
.reviews.quote {
  font-size: 2px;
}


.pink-line {
    border-bottom: 1px solid #B88778;
    opacity: 0.5;
  }


.astro-exp {
  color: #294045;
  p {
  font-family: 'Roboto Mono', monospace;

  }
}

.flatpickr-calendar {
  // justify-content: center;
  margin: 0 auto;
}


.booking_time {
  width: 307.88px;
}

.time-label {
  color: #294045;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10px;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 5px;
}

#new_booking {
  margin: 0 auto;
   .search {
    text-align: center;
   }
}

.btn-book {
  width: 307.88px;
}


.reviews {
  color: #294045;
}



.edit-link {
  text-decoration: none;
  color: #B88778;
  font-size: 20px;
}

