// Import page-specific CSS files here.
@import "home";
@import "astrologists-index";
@import "astro_show";
@import "new_astrologist";
@import "new_booking";
@import "user_show";
@import "dashboard";

.astrologists-list .list-group-item {
    margin-right: 5px;
    background: #e4dfcf;
    border: none;
    font-size: 14px;
    color: #927f42;
    padding: 4px 8px;
    margin-bottom: 10px;
    margin-left: 10px;
}
