.label {
  color: #294045;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10px;
  font-size: 18px;
}

.submit {
  margin-top: 40px;
  font-size: 12px;
}

#new_astrologist {
  width: 50%;
  text-align: center;
}

.form-group {
  text-align: left;
}
