.booking-card {
  width: 500px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);


  .card-bottom strong {
    color: #294045;
    font-family: $headers-font;
  }

  .card-bottom {
    color: #294045;
    font-family: $headers-font;
    padding: 10px;
  }

}

.booking-text {
  color: #294045;
  font-family: $headers-font;
  font-size: 32px;
}

 .horizontal-line {
    border-bottom: 2px solid #CBB569;
  }
