.booking-card {
  width: 500px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);


  .card-bottom strong {
    color: #294045;
    font-family: $headers-font;
  }

  .card-bottom {
    color: #294045;
    font-family: $headers-font;
    padding: 10px;
  }

}

.booking-text {
  color: #294045;
  font-family: $headers-font;
  font-size: 32px;
}

 .horizontal-line {
    border-bottom: 2px solid #CBB569;
  }

.cancel-appointment {
  color: #B88778;
  margin-left: 450px;

}

.card-cancelled {
  opacity: 0.3;
}

.txt-cancelled {
  color: red;
  margin-left: 390px;
}

#cancel-button {
    /*Button Text Style*/
    font-family:'Inconsolata', 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: none;
    color: grey;
    outline: none;
    /*Position, Display, Size*/
    position: relative;
    display: inline-block;
    padding: 10px 8px 12px;
    cursor: pointer;
    width: auto;
    margin-left: 10px;
    align: baseline;
    &:hover {
    color: #294045;
    }
}

