<div class="content text-center mt-5">
  <h1>Edit profile</h1>
  <div class="container d-flex justify-content-center py-5 my-3">
  <%= simple_form_for(@astrologist) do |f| %>
      <%= f.input :experience, :label_html => { :class => 'label' } %>
      <%= f.input :price, :label_html => { :class => 'label' } %>
      <%= f.submit "Edit profile", class: "button submit" %>
  <% end %>
  </div>
</div>

