<div class="content">
  <h1>Book a session</h1>
  <%= simple_form_for [@astrologist, @booking] do |f| %>

    <div class="form-inputs">
      <%= f.input :date %>
      <%= f.input :time %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Book the Date" %>
    </div>
  <% end %>

</div>
