<div class="header"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( https://www.wellandgood.com/wp-content/uploads/2020/01/01-13-Moon-Phases-Feature.jpg);">
    <div class="container">
      <h1>Welcome to Astromeet</h1>
      <p>Some animated text</p>
    </div>
  </div>
</div>


