.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  margin: 0;
  color: #EAE1C3;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  padding-top: 28px;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
