.profile-card {
  border: 1px solid #CBB569;
  width: 400px;
  box-shadow: 6px 6px 0px #CBB569;

  .card-top {
    color: #CBB569;
    font-family: $headers-font;
    border-bottom: 1px solid #CBB569;
    text-align: left;
    height: 500px;
    background-size: cover;
    background-position: center;

    .name-card {
      padding-top: 300px;
      padding-left: 20px;
    }
  }

  .card-bottom {
    color: #294045;
    font-family: "Roboto Mono";
    padding: 10px;
  }

  }

  .horizontal-line {
    border-bottom: 2px solid #CBB569;
  }
