.navbar-lewagon {
  justify-content: space-between;
  background:rgba(170,109,89, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.text-right {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.text-right:hover {
  color: white;
  text-decoration: none;
  background-color: #B98879;
}

a.dropdown-item {
  color: black;
}

a.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #B98879;

}

a.nav-item {

}

// .nav-item:hover {
//   background-color: transparent;
// }
