.box-rating {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  color: #294045;
  font-family: $headers-font;
  margin: 15px;
  padding: 20px 15px;
}

#date-booking {
  color: #7C7C7C;
  font-size: 12px;
}

.reviews h2 {
  margin-bottom: 50px;
}
